html, body {
    width: 100%;
    margin: 0px;
    color: black;
}
.dark-mode {
    background-color: black;
    color: white;
}
@font-face {
    font-family: font;
    src: url(font.ttf);
}
a {
    text-decoration: none;
}
.nav {
    background-color: #3EA6FF;
    right: 0;
    position: fixed;
    border-radius: 0 0 0 10px;
}
.nav a {
    float: left;
    font-family: font;
    padding: 12px;
    color: white;
}
.nav a:hover {
    background-color: black;
}
.nav .left {
    border-radius: 0 0 0 10px;
}
.icon {
    background-color: #3EA6FF;
    font-family: font;
    padding: 12px;
    color: #212121;
    position: fixed;
    border-radius: 0 0 10px 0;
    color: white;
}
.icon:hover {
    color: black;
    background-color: white;
}
.blank {
    height: 30px;
}
.greeting {
    font-family: Sans-Serif;
    border-radius: 0 13px 13px 0;
    font-size: 2em;
    background-color: #3EA6FF;
    bottom: 50%;
    position: absolute;
    padding: 10px;
    display: block;
    font-weight: bold;
    color: white;
}
.greeting .button {
    background-color: white;
    border: 0px solid black;
    border-radius: 2px;
}
.greeting .button > a {
    color: black;
}
.greeting > a > svg:hover {
    fill: black;
}
.greeting> a > svg {
    fill: white;
    display: inline;
    width: 20px;
    margin: 5px;
    margin-right: 10px;
    padding: 2px;
}
.greeting .readmore {
    font-size: 0.5em;
    color: black;
}
.greeting .readmore:hover {
    color: white;
}
.kucing {
    width: 75px;
    border-radius: 50px;
    margin-left: 10px;
}
.textimg {
    display: flex;
}
<--about-->
.content {
    width: 100%;
}
.content p {
    padding-left: 5%;
    padding-right: 5%;
}
.content .title {
    font-family: Sans-Serif;

    font-size: 2em;
    background-color: #3EA6FF;
    padding: 10px;
    font-weight: bold;
    color: white;
}
.foto {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    text-align: center;
    border: 0px solid white;
    border-radius: 5px;
}
.foto1 {
    cursor: wait;
    padding-top: 2%;
    padding-left: 42%;
    padding-right: 42%;
    width: 16%;
    text-align: center;
    border: 0px solid white;
    border-radius: 5px;
}